body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
}

#wrapper {
  width: 80%;
  height: 450px;
  padding: 30px;
  margin: 0 auto;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  background-color: #f5f5f5;
}

/*自定义右键菜单样式*/
#contextmenu {
  display: inline-block;
  position: fixed;
  /*box-sizing: border-box;*/
  width: 250px;
  border: 2px solid #d9d9d9;
  background-color: #fff;
  border-radius: 5px;
  visibility: hidden;
}

#contextmenu ul {
  margin: 0;
  padding: 0;
}

#contextmenu li {
  list-style: none;
  padding: 6px 40px;
}

#contextmenu li:first-child {
  padding-top: 12px;
}

#contextmenu li:last-child {
  padding-bottom: 12px;
}

#contextmenu li:hover {
  background-color: #90c8f6;
  cursor: default;
}
